# Ignore these folders completely
/binaries/
/cyber-pomoyka/
/models/
/output/
/.idea/
/.venv/
/__pycache__/
/dist/
/build/

# Ignore contents of client/downloads but not the folder itself
/client/downloads/*

# Ignore specific files
/config.json
/models.json
/client_test_goonner.spec

# Keep the client/downloads directory itself
!/client/downloads/